
/* Reset and common styles */
/* Reset and common styles */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://plus.unsplash.com/premium_photo-1676320514021-7c68dda90026?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section styles */
section {
    position: relative; /* Ensure relative positioning for the overlays */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 64px);
    color: whitesmoke;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 1rem;
}

.column {
    background-color: rgba(222, 184, 135, .4);
    flex: 40%;
    margin: 2% 1%;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.column img {
    width: 75%;
}

.swing-top-fwd {
	-webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content {
    z-index: 1; /* Content should be on top of the overlays */
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.dark {
    background-color: black;
}

.light {
    background-color: rgba(185, 218, 241, 0.8);
}

.section_heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
    font-size: 2em;
    padding: 7vh;
}

.btn {
    border-radius: 15px;
    width: 20vw;
    height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s ease-out;
    background-color: coral;
    border: 0;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    background-color: rgb(227, 72, 0);
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.7rem;
}

/* Header specific styling */
header{
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: var(--max-width);
}

nav {
    width: 100%;
    height: 4rem;
    background-color: none;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

nav #logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    margin: 0 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
}

nav ul li::before,
nav ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(227, 72, 2);
    visibility: hidden;
    transition: width 0.3s, visibility 0.3s;
}

nav ul li:hover::before {
    visibility: visible;
    width: 100%;
    background-color: rgb(227, 72, 2);
}

nav ul li:hover::after {
    visibility: hidden;
}

nav ul li a {
    color: inherit;
    transition: all 0.3s ease;
    text-decoration: none;
}

nav ul li a:hover {
    color: coral;
}

.hamburger {
    display: none;
}

.menu {
    display: none;
}

/* Focused state styles */
nav ul li:focus-within::before {
    visibility: visible;
    width: 100%;
    background-color: white;
}

nav ul li:focus-within a {
    color: white;
}

nav.black-background ul li:focus-within::before,
nav.black-background ul li:focus-within a {
    color: white;
}

/* Home section specific styles */
#home h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    line-height: 1.2;
    margin: auto;
    padding: 7vh;
}

#home p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-top: 5px;
}

#home .content{
    width: 80%;
    height: 50vh;
}

#home .content img {
    float: left;
    margin-right: 1rem;
    width: 250px;
    height: 357px;
    border-radius: 4%;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.6);
}

#our-work {
    position: relative;
    top: 45%;
    right: 15%;
}

/* why us specific styles */
#why_us {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#why_us .card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
}

#why_us .content .btn {
    background-color: rgb(141, 244, 118);
    width: 35%;
}

#why_us .content .btn:hover{
    background-color: rgb(113, 175, 95);
}

/* services specific styles */

#services {
    height: auto;
}

.modal {
    display: none;
    position: absolute;
    top: 10%; bottom: 10%; left: 3%; right: 3%;
    height: 90vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, .8);
    border-radius: 8px;
}

.open {
    display: flex;
    color: black;
    flex-direction: column;
}

.read_more_btn {
    text-align: center;
    padding: 8px;
    cursor: pointer;
    background-color: coral;
    width: 45%;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
}

.read_more_btn:hover {
    background-color: rgb(227, 72, 4);
}

/* contact specific styles */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.section_heading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

#contact-heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
    font-size: 2em;
    color: rgb(0, 0, 0);
    z-index: 2;
}

#contact .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

/* Form Styling */
#contact .form {
    max-width: 600px;
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    bottom: 8%;
}

#name,
#user_email,
#message,
#phone-number {
    width: 80%;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#name:active,
#user_email:active,
#message:active,
#phone-number:active {
    border: 1px solid coral;
}


#contact .content .image{
    height: auto;
    width: 30vw;
    padding: 5% 0;
}

fieldset {
    margin-bottom: 1rem;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
    border: outset;
    border-radius: 5px;
}

#contact .content .image img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.5);
}

legend {
    padding: 10px;
    z-index: 2;
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: 900;
    font-style: italic;
}

#submit {
    position: relative;
    top: 7%;
}

/* footer specific styles */
footer {
    text-align: center;
    font-size: 1.2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    /* Media query styles for smaller screens */

    .section_heading {
        font-size: 1.6rem;
    }

    #home .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 5%;
    }

    #home .content h1 {
        position: relative;
        right: 2%;
        text-align: center;
        font-size: 1.7rem;
    }

    #home .content img {
        position: relative;
        left: 2%;
        width: 70%;
    }

    #why_us {
        padding: 5% 0;
        height: auto;
    }

    #why_us #whatsapp {
        width: 200px;
    }

    .column {
        flex: 100%;
        margin: 2% 0;
    }

    #our-work {
        position: relative;
        top: 5%;
        left: 2%;
        width: 150px;
        font-weight: 550;
    }

    #services {
        padding: 5% 0;
        height: auto;
    }

    #services .content {
        margin-bottom: 3%;
    }

    #contact {
        height: auto;
    }

    #contact .content {
        flex-direction: row;
        align-items: center;
    }

    #contact .content .image {
        width: 50%;
        order: 1;
    }

    #contact .content .form {
        width: 90%;
        order: 2;
    }

    #name,
    #user_email,
    #message,
    #phone-number {
        border: none;
        background: rgba(223, 229, 233, 0.8);
    }

    .hamburger {
        display: block;
        order: 2;
        font-size: 1.5rem;
        width: 35px;
        border-radius: 5px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 1100;
        position: relative;
        transition: all 0.3s ease-in-out; 
    }
    
    .hamburger:hover {
        transform: scale(1.1); /* Hover effect - scale the size */
    }
    

    .logo {
        position: absolute;
        order: 1;
        top: 0;
        padding-left: 2rem;
    }

    .bg-menu {
        display: none;
    }

    .menu {
        display: none;
        position: fixed;
        top: 65px;
        width: 50%;
        height: 40%;
        right: 2%;
        background: rgb(255, 228, 196);
        color: black;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        z-index: 1000;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(100%);
        transition: opacity 0.3s ease, transform 0.6s ease;
    }

    .menu.show-menu {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateY(0); 
    }

    .menu a {
        color: black;
        transition: color 0.3s ease;
    }

    .menu a:hover {
        color: darkslategray;
    }
}